.vim/*
*.swp
.DS_Store
.opencode/*
configs/zsh/*
!configs/zsh/.zshrc
!configs/zsh/.secrets
configs/chezmoi/
configs/httpie/sessions/
configs/github-copilot/apps.json
.aider*
!.clerkrc
.playwright-mcp/
.omo/
