josephhaaga.sh.tribe.ai {
	tls {
		client_auth {
			mode require_and_verify
			trust_pool file {{ .chezmoi.homeDir }}/.config/caddy/client-ca.pem
		}
	}

	@root path /
	redir @root /L2hvbWUvZWMyLXVzZXIvRG9jdW1lbnRzL2RvdGZpbGVz 302

	reverse_proxy 127.0.0.1:49374
}
